.validatedCampaigns{
	color: green;
}

.pendingCampaigns{
	color: orange;
}

.rejectedCampaigns{
	color: red;
}

.noResult{
	padding : 10px;
	color: grey;
	text-align: center;
}

.deleteButton{
	display: inline-block
}