<!doctype html>
<html>
<head>
	<title>My subscriptions</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <%- include('./libs.ejs'); %>
</head>
<body>

    <div class="container">
    	<div class="row">
            <div class="col-sm-6 col-sm-offset-3">

                <div class="validatedCampaigns"><h2>Validated campaigns</h2></div>
                <%- include('campaignType', {status: "ACCPT"}); %>

                <div class="pendingCampaigns"><h2>Pending campaigns</h2></div>
                <%- include('campaignType', {status: "PENDG"}); %>

                <div class="rejectedCampaigns"><h2>Rejected campaigns</h2></div>
                <%- include('campaignType', {status: "RJCTD"}); %>

            </div>
    	</div>
    </div>

</body>
</html>