<!doctype html>
<html>
<head>
	<title>My subscriptions</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <%- include('./libs.ejs'); %>
</head>
<body>

    <div class="container">
    	<div class="row">
            <div class="col-sm-6 col-sm-offset-3">

                <form action="/campaign/new" method="post">
                    <%= user.user_id %>
                    <input type="hidden" name="owner_id" value="<%= user.user_id %>">
                    Title :<br>
                    <input type="text" name="title"><br>
                    Description :<br>
                    <textarea cols="10" rows="5" name="description"></textarea><br>
                    Minimum de followers :<br>
                    <input type="number" name="minFollower"><br>
                    Budget :<br>
                    <input type="number" name="budget"><br>
                    <input type="submit" value="Créer">
                </form>

            </div>
    	</div>
    </div>

</body>
</html>